# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

palette = 'catppuccin_latte'

format = """
$status\
$jobs\
$directory\
$git_branch\
$c\
$python\
$rust\
$java\
$cmd_duration
$character
"""

right_format = """
"""


[palettes.gruvbox]
black=   '#282828'
red=     '#cc241d'
green=   '#98971a'
yellow=  '#d79921'
blue=    '#458588'
magenta= '#b16286'
cyan=    '#689d6a'
white=   '#a89984'
gray=    '#928374'
cblue=   '#283593'
rustorange= '#d34516'

[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"


# Inserts a blank line between shell prompts




# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[ 󰌪 ](fg:green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'
error_symbol = '[ 󱋙 ](fg:red)'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[status]
disabled = false
format = '[ $symbol$status ]($style)'
style = 'fg:yellow'
success_symbol = '󰄬 '
symbol = ' '

[directory]
style = 'fg:blue'
format = '[  $symbol $path ]($style)'

[git_branch]
style = 'fg:purple'
format ='[ $symbol $branch ]($style)'

[cmd_duration]
min_time = 500
style = 'fg:green'
format = '[ 󰔛 $duration ]($style)'

[nix_shell]
format = '[$symbol$state\($name\) ]($style)'
style = 'fg:red'
symbol = ' '

# ~/.config/starship.toml

[java]
symbol = '󰬷 '

# ~/.config/starship.toml
[jobs]
symbol = '+ '
style = 'fg:gray'
number_threshold = 2
symbol_threshold = 1
format = '[ $symbol$number ]($style)'

[c]
style = 'fg:cblue'
format = '[ $symbol $name $version ]($style)'
symbol = ''

[rust]
style = 'fg:rustorange'
format = '[ $symbol $version ]($style)'
symbol = '󱘗'
